extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        .row
        .row.py-3
                       
        .row
            .col-md-12
                include ../layout/includes/partials/testimoniales

            .col-md-12
                h2.text-center Agrega un Testimonial
                if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje

                .row.justify-content-center
                    .col-md-8
                        form(action="/testimoniales", method="POST")
                            .form-group
                                label(for="title") Nombre
                                input(id="title", title="Nombre", name="title", class="form-control", placeholder="Su nombre",type="text", value=title)
                            .form-group
                                label(for="email") Correo Electronico
                                input(id="email", name="email", class="form-control", placeholder="Su correo",type="eemail" value=email)       
                            .form-group
                                label(for="message") mensaje
                                textarea#message(name="message", cols="30", rows="5", class="form-control")=message    
                            .form-group
                                input(type="submit", value="agregar" class="btn btn-success btn-block")                  